ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 2.5rem;

  & li {
    position: relative;
    display: flex;
    align-items: center;
    gap: .75rem;
    padding-inline: .75rem;
    height: 3.0625rem;
    border-radius: .75rem;
    background: var(--bg-secondary);
    color: var(--content-secondary);
    font: var(--font-primary);

    & span {
      flex: 1;
    }

    & img[src*="bin"] {
      width: 1rem;
      height: 1rem;
      cursor: pointer;
    }
  }
}