.warning {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .75rem;
  border-radius: .75rem;
  background-color: var(--color-danger);
  color: var(--always-white);
  font: var(--font-label);
  margin-top: 2.75rem;

  & > span {
    flex: 1;
  }

  & > img[src*="warning"] {
    width: 1.25rem;
    height: 1.25rem;
  }

  & > img[src*="delete"] {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.hidden {
  display: none;
}